@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
}

.login {
  align-content: center;

  .loginCard{
    max-width:700px;
    width:100%;
    background-color:#1e2833;
    padding:200px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  }

}

.list-group-item {
  padding: 0;
}

.dashboard{
  height: 97%;
  width: 99%;
  background-color:#1e2833;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

hr.solid {
  border-top: 2px solid black;
}

.separator {
  margin-top: 65px;
  margin-left: 10px;
  height: 100%;
}


// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }